### Config

Volume = 50.0
Fps = 60.0
FontsPath = "data/fonts.data"
MusicPath = "data/music.data"
ShadersPath = "data/shaders.data"
SoundsPath = "data/sounds.data"
TexturesPath = "data/textures.data"
WindowWidth = 800
WindowHeight = 640
WindowName = "Crystal Space Shooter!"
BackgroundVelocity = xy(0.0, 75.0)
VerticalSyncEnabled = true
KeyRepeatEnabled = false
MouseCursorVisible = false
Fullscreen = true