### Config

Volume = 30.0
Fps = 60.0
FontsPath = "data/font.data"
MusicPath = "data/music.data"
ShadersPath = "data/shader.data"
SoundsPath = "data/sound.data"
TexturesPath = "data/texture.data"
RenderWidth = 1920
RenderHeight = 1080
WindowWidth = 848
WindowHeight = 480
WindowName = "Crystal Space Shooter!"
BackgroundVelocity = xy(0.0, 75.0)
VerticalSyncEnabled = true
KeyRepeatEnabled = false
MouseCursorVisible = false
Fullscreen = true